* {
  font-family: 'FiraCode Nerd Font', monospace;
  font-size: 13px;
}

window#waybar > box {
  margin: 10px;
  margin-bottom: 0;
  background-color: @base;
  border: 1px solid @surface0;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

#custom-nix {
  color: @sapphire;
  padding-left: 15px;
  padding-right: 12px;
  margin: 0;
  font-size: 20px;
}

#workspaces button {
  border-radius: 0;
  padding: 0 15px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface0;
}

#workspaces button.active {
  background-color: @sapphire;
  color: @base;
}

#mode {
  margin-left: 15px;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
  background-color: @surface0;
  border-radius: 15px;
  margin: 5px;
  padding: 0 15px;
}

#network {
  padding-left: 10px;
}

#custom-power {
  margin: 0;
  padding: 5px 5px 5px 8px;
  font-size: 20px;
}

#custom-power *:hover {
  background-color: alpha(@surface2, 0.9);
}

#pulseaudio {
  color: @red;
}
#network {
  color: @peach;
}
#backlight {
  color: @yellow;
}
#battery {
  color: @green;
}
#clock {
  color: @mauve;
}
#custom-power {
  color: @sapphire;
}

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;
 